#main {
    width: min(100vw, 75vh);
    height: min(100vh, 133.333333333vh);
    margin: auto;
}

body {
    margin: 0;
}

img {
    image-rendering: pixelated;
}

#full {
    width: 100%;
    display: none;
}

.img-wrapper {
    transform: translateY(-100vh);
    width: 100%;
}

#title {
    width: 100%;
    scale: 80%;
    transform: translate(3%, 8%);
}

#singleplayer {
    width: 100%;
    scale: 80%;
    transform: translate(0%, 25%);
}

#lobby {
    width: 100%;
    scale: 83%;
    transform: translate(-2%, 15%);
}

#join {
    width: 100%;
    scale: 88%;
    transform: translate(0%, 12%);
}
