#main {
    background: red;
    width: min(100vw, 75vh);
    height: min(100vh, 133.333333333vh);
    margin: auto;
}

body {
    margin: 0;
}

img {
    image-rendering: pixelated;
}

#full {
    width: 100%;
    filter: grayscale(100)
}

.img-wrapper {
    transform: translateY(-100vh);
    width: 100%;
}

#title {
    width: 100%;
    scale: 80%;
    transform: translate(3%, 8%);
}

#title:hover {
}
