#main {
    width: min(100vw, 75vh);
    height: min(100vh, 133.333333333vh);
    margin: auto;
}

body {
    margin: 0;
}

img {
    image-rendering: pixelated;
}

#full {
    width: 100%;
}

.img-wrapper {
    transform: translateY(-100vh);
    width: 100%;
}

#title {
    width: 100%;
    scale: 80%;
    transform: translate(3%, 8%);
}

#singleplayer {
    width: 100%;
    scale: 80%;
    transform: translate(0%, 25%);
    cursor: pointer;
}

#singleplayer:hover {
    filter: hue-rotate(180deg)
}

#lobby {
    width: 100%;
    scale: 83%;
    transform: translate(-2%, 15%);
    cursor: pointer;
}

#lobby:hover {
    filter: hue-rotate(240deg)
}

#join {
    width: 100%;
    scale: 88%;
    transform: translate(0%, 12%);
    cursor: pointer;
}

#join:hover {
    filter: hue-rotate(-25deg)
}

#create-back {
    width: 100%;
}

#create-easy {
    width: 100%;
    scale: 45%;
    transform: translate(0%, calc(12% - 135vh));
    cursor: pointer;
}

#create-easy:hover {
    filter: hue-rotate(-110deg)
}

#create-normal {
    width: 100%;
    scale: 45%;
    transform: translate(0%, calc(12% - 175vh));
    cursor: pointer;
}

#create-normal:hover {
    filter: hue-rotate(-110deg)
}

#create-hard {
    width: 100%;
    scale: 45%;
    transform: translate(0%, calc(12% - 210vh));
    cursor: pointer;
}

#create-hard:hover {
    filter: hue-rotate(-110deg)
}

